<!DOCTYPE html>
<html>

<head>
    <base target="_top">
    <?!= css(['views/404']); ?>
</head>

<body>
    <div class="overlay"></div>
    <div class="terminal">
        <h1>Error <span class="errorcode">404</span></h1>
        <p class="output">The page you are looking for might have been removed, had its name changed or is temporarily
            unavailable</ü>
            <p class="output">Please try <a href="<?= ScriptApp.getService().getUrl() ?>">this link</a></p>
            <p class="output">Good luck</p>
    </div>
</body>

</html>